<div class="card">
    <div class="identite">
        <div class="photo">
            <img *ngIf="user.photo"class="photoUser" src={{user.photo}}>
            <i *ngIf="!user.photo" class="fas fa-user"></i>
        </div>
        <div class="nom">
            {{user.firstName}} {{user.lastName}}
        </div>
    </div>
    <div class="Troubles">
        Trouble(s) <br>
        <span class="protanopie" *ngIf="user.protanopie"> Protanopie <br> </span> 
        <span class="arthrose" *ngIf="user.arthrose"> Arthrose ({{user.temps}} sec(s)) <br> </span> 
        <span class="glaucome" *ngIf="user.glaucome"> Glaucome </span>
    </div>
    <button class="button-card" (click)="select()" routerLink="/accueil">Select</button>
    <button class="button-card" (click)="delete()">Delete</button>
</div>