<div class="header">  
    <div> <button class="principal" [ngClass]="configurationService.getColorForProtanopieButton()" routerLink="/accueil"> <i class="fa-solid fa-house-chimney"></i> Super Sénior</button></div>
    <div> <button class="principal" [ngClass]="configurationService.getColorForProtanopieButton()" routerLink="/quiz-form"> <i class="fab fa-leanpub"></i> Créer Quiz</button></div>
    <div class="sous-menu">
        <button class="principal" [ngClass]="configurationService.getColorForProtanopieButton()" routerLink="/user-list"> <i class="fa-solid fa-circle-user"></i> {{user}}</button>
        <ul>
            <li><button class="secondaire" [ngClass]="configurationService.getColorForProtanopieButton()" routerLink="/user-info">Mon Compte</button></li>
            <li><button class="secondaire" [ngClass]="configurationService.getColorForProtanopieButton()" routerLink="/user-list">Mes Patients</button></li>
            <li><button class="secondaire" [ngClass]="configurationService.getColorForProtanopieButton()" routerLink="/user-list">Statistiques</button></li>
            <li><button class="secondaire" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="deconnexion()" routerLink="/accueil">Déconnexion</button></li>
        </ul>
    </div>
</div>