<div class="header">  
    <div> <button class="principal" routerLink="/accueil"> <i class="fa-solid fa-house-chimney"></i> Super Sénior</button></div>
    <div> <button class="principal" routerLink="/quiz-form"> <i class="fab fa-leanpub"></i> Créer Quiz</button></div>
    <div class="sous-menu">
        <button class="principal" routerLink="/user-list"> <i class="fa-solid fa-circle-user"></i> User</button>
        <ul>
            <li><button class="secondaire" routerLink="/user-list">Mon Compte</button></li>
            <li><button class="secondaire" routerLink="/user-list">Mes Patients</button></li>
            <li><button class="secondaire" routerLink="/user-list">Statistiques</button></li>
            <li><button class="secondaire" routerLink="/user-list">Déconnexion</button></li>
        </ul>
    </div>
</div>