<body [ngClass]="configurationService.getCentreForGlaucome()">
    <h2 [ngClass]="configurationService.getColorForProtanopieText()">Accueil</h2>
    <!--<button class="change-color" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="changeProtanopie()">Protanopie</button>
    <button class="change-size" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="changeArthrose()">Arthrose</button>
    <button class="change-placement" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="changeGlaucome()">Glaucome</button> -->
    <app-quiz-list></app-quiz-list>
</body>




