<h2 [ngClass]="configurationService.getColorForProtanopieText()">accueil</h2>
<button class="change-color" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="changeProtanopie()">Protanopie</button>
<button class="change-size" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="changeArthrose()">Arthrose</button>
<button class="change-placement" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="changeGlaucome()">Glaucome</button>
<button class="button-card" [ngClass]="configurationService.getColorForProtanopieButton()" routerLink="/lancement-quiz">Lancer Quiz</button>
<app-quiz-list></app-quiz-list>



