<h2>jeu</h2>
<div class='question' *ngIf="jeu">
    tester
    {{jeu.quiz.id}}
</div>
<h3 *ngIf="quiz">
    {{indexQuestion}}
    {{quiz.id}}
</h3>
<app-jeu-question *ngIf="indexQuestion!=quiz.questions.length" [question]="quiz.questions[indexQuestion]" (answerSelected)="answerSelected($event)"></app-jeu-question>
<button class="button-card" *ngIf="indexQuestion===quiz.questions.length" routerLink="/fin-quiz">Terminer le quiz</button>
<button class="button-abandon" *ngIf="indexQuestion!=quiz.questions.length" routerLink="/accueil">Abandonner</button>