
.parent {
    position : relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.answer-list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.1%;
    margin-top: 0.1%;;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

.answers {
    flex : 1 ;
    flex-basis: 50%;
    margin-bottom: 0.1%;
    margin-top: 0.1%;
    justify-items: left;
    align-items: center;
}

.answerSmall{
    border : 3pt solid blue;
    border-radius: 15px;
    padding: 60px 90px;
    font-size: 20px;
    font-weight: bold;
    margin: 0%;
}

.answerBig{
    border : 3pt solid blue;
    border-radius: 15px;
    padding: 80px 120px;
    font-size: 20px;
    font-weight: bold;
    margin: 0%;
}

.imageQuestion {
    border-radius: 10px;
    text-align: center;
    max-width: 150px;
    max-height: 150px;
    width: auto;
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.label {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.1%;
    margin-top: 0.1%;;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

.labelQuestion{
    flex : 1 ;
    flex-basis: 50%;
    justify-content: center;
}

.image {
    flex : 1 ;
    flex-basis: 50%;
    justify-content: left;
}

.answerImageSmall{
    border : 3pt solid blue;
    border-radius: 15px;
    padding: 5px 120px;
    font-size: 14px;
    font-weight: bold;
    margin: 0%;
}

.imageAnswerSmall{
    border-radius: 10px;
    max-width: 80px;
    max-height: 120px;
    width: auto;
	height: auto;
    display: block;
    margin-left: 10%;
    margin-right: auto;
}

.answerImageBig{
    border : 3pt solid blue;
    border-radius: 15px;
    padding: 80px 120px;
    font-size: 14px;
    font-weight: bold;
    margin: 0%;
}

.imageAnswerBig{
    border-radius: 10px;
    text-align: center;
    max-width: 150px;
    max-height: 150px;
    width: auto;
	height: auto;
    display: block;
    margin-left: 10%;
    margin-right: auto;
}

.audioAnswer {
    border : 3pt solid blue;
    border-radius: 15px;
    top: 0%;
    margin: 0%;
}

.audioQuestion {
    position: relative;
    border : 2pt solid blue;
    border-radius: 15px;
    top: 0%;
    margin: 0%;
}

.imageAudioAnswer{
    border-radius: 10px;
    max-width: 40px;
    max-height: 40px;
    width: auto;
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageAudioQuestion{
    border-radius: 5px;
    text-align: center;
    max-width: 30px;
    max-height: 30px;
    width: auto;
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
