<div class="parent">
    <div class="label">
        <h2 class="labelQuestion" [ngClass]="configurationService.getColorForProtanopieText()">
            {{question.label}} 
        </h2>
        <span class="image" *ngIf="question.image">
            <img class="imageQuestion" src={{question.image}}>
        </span>
    </div>
    <div class="answer-list">
        <div class="answers" *ngFor="let answer of question.answers; let i=index">
            <button class="answer" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="selectAnswer(answer.id);isCorrect(answer.isCorrect)">{{answer.value}} <img class="imageAnswer" *ngIf="answer.imageAnswer" src={{answer.imageAnswer}}> </button>
       </div>
    </div>
    
</div>