<div class="parent"> 
    <div class="label">
        <h2 class="labelQuestion" [ngClass]="configurationService.getColorForProtanopieText()">
            {{question.label}} 
            <button class="audioQuestion" (click)="lecture(question.label)"><img class="imageAudioQuestion" src="https://cdn.icon-icons.com/icons2/910/PNG/512/headphones_icon-icons.com_71177.png"></button>
        </h2>
        <span class="image" *ngIf="question.image">
            <img class="imageQuestion" src={{question.image}}>
        </span>
    </div>
    <div class="answer-list">
        <ng-container *ngIf="question.answers.length>2">
            <div class="answers" *ngFor="let answer of question.answers; let i=index">
                <button class="answerSmall" *ngIf="!answer.imageAnswer" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="selectAnswer(answer.id);isCorrect(answer.isCorrect)">{{answer.value}} </button>
                <button class="answerImageSmall" *ngIf="answer.imageAnswer" [ngClass]="configurationService.getColorForProtanopieButton()"
                 (click)="selectAnswer(answer.id);isCorrect(answer.isCorrect)">
                    {{answer.value}}
                    <img class="imageAnswerSmall" src={{answer.imageAnswer}}>
                </button>
                <button class="audioAnswer" (click)="lecture(answer.value)"><img class="imageAudioAnswer" src="https://cdn.icon-icons.com/icons2/910/PNG/512/headphones_icon-icons.com_71177.png"></button>
            </div>
        </ng-container>
        <ng-container *ngIf="question.answers.length<=2">
            <div class="answers" *ngFor="let answer of question.answers; let i=index">
                <button class="answerBig" *ngIf="!answer.imageAnswer" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="selectAnswer(answer.id);isCorrect(answer.isCorrect)">{{answer.value}} </button>
                <button class="answerImageBig" *ngIf="answer.imageAnswer" [ngClass]="configurationService.getColorForProtanopieButton()"
                    (click)="selectAnswer(answer.id);isCorrect(answer.isCorrect)">
                    {{answer.value}}
                    <img class="imageAnswerBig" src={{answer.imageAnswer}}>
                </button>
                <button class="audioAnswer" (click)="lecture(answer.value)"><img class="imageAudioAnswer" src="https://cdn.icon-icons.com/icons2/910/PNG/512/headphones_icon-icons.com_71177.png"></button>
            </div>
        </ng-container>
    </div>
    
</div>