@import "../../../styles/variables";

h2{
  text-align: center;
  background: $white;
  padding-bottom: 1em;
  margin-bottom: 0;
  width: 1200px;
  margin: auto;
}

.card {
    background: $white;
    width: 1200px;
    height: 600px;
    display: flex;
    margin: auto;
  }
  
  .button-card {
    background-color: pink;
    border: solid 1px pink;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
  }
  
  .button-card:hover {
    cursor: pointer;
  }

 .Questions{
    width: 600px;
    background-color: $white;
    color: black;
    position: relative;
    height: 500px;
    margin: 50px;
    border-color: red;
    border: solid 1px;
}
  .quiz{
    width: 150px;
    background-color: $white;
    color: black;
    position: relative;
    height: 500px;
    margin: 50px;
}

  label[for="Question"]{
    margin: auto;
    width: auto;
  }
  label[for="Question"]>.input-custom{
    width: 500px;
  }
  
  .reponse{
    display: flex;
    flex-wrap: wrap;
  }

  .reponse>div{
    color: green;
    flex: 1;
    flex-basis: 50%;
  }

  .button-ajout-question:hover{
	  position:relative;
	  left: 3em;
  }