<h2>Création Quiz</h2>
<div class="card">
  <div class="quiz">
    <form class="quiz-form" [formGroup]="quizForm">
      <!--<button type="submit" class="button-card" (click)="addQuiz()">Créer Quiz</button> -->
      <button type="submit" class="button-card" routerLink="/accueil">Créer Quiz</button>
      <br>
      <label for="title">
        Title <br>
        <input class="input-custom" type="text" id="name" [formControlName]="'name'">
      </label>
      <br>
      <label for="theme">
        Theme <br>
        <input class="input-custom" type="text" id="theme" [formControlName]="'theme'">
      </label>
      <label for="image">
        Image <br>
        <input class="input-custom" type="text" id="image" [formControlName]="'image'">
      </label>
    </form>
  </div>
  <div class="Questions">
    <div class="cards">
      <h3>Nouvelle question</h3>
      <form class="quiz-form" [formGroup]="questionForm">
        <label for="label">
          Titre <br>
          <input class="input-custom" type="text" id="label" [formControlName]="'label'">
        </label>
        <br>
        <button class="button-card" (click)="addAnswer()" *ngIf="answers.length<4">Ajouter une réponse</button>
        <div class="answer" formArrayName="answers">
          <div *ngFor="let address of answers.controls; let i=index">
            <div class="answer-form" [formGroupName]="i" [formControlName]="'isCorrect'" span *ngIf="i==0">
              <label>
                Réponse correcte
                <input type="text" [formControlName]="'value'">
              </label>
            </div>
            <div class="answer-form" [formGroupName]="i" span *ngIf="i>0" >
              <label>
                Réponse fausse
                <input type="text" [formControlName]="'value'">
              </label>
            </div>
          </div>
        </div>
        <button type="submit" class="button-card" (click)="addQuestion()">Ajout Question</button>
      </form>
    </div>
  </div>
  <!--<app-question-list [quiz]="quiz"></app-question-list>-->
  
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->