@import "../../../styles/variables";

.card {
    background: $white;
    padding: 0 1em 1em 1em;
    height: 500px;
    width: 300px;
    position: relative;
    display: inline-block;
  }
  
  .button-card {
    background-color: pink;
    border: solid 1px pink;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
  }
  
  .button-card:hover {
    cursor: pointer;
  }

 .Questions{
    width: 600px;
    background-color: $white;
    color: black;
    display: inline-block;
    position: relative;
    padding: 1em 1em 1em 1em;
    height: 500px;
    margin: 60px;
}