<div class="card">
  <h2>Nouvelle question</h2>
  <form class="quiz-form" [formGroup]="questionForm">
    <label for="label">
      Titre <br>
      <input class="input-custom" type="text" id="label" [formControlName]="'label'">
    </label>
    <br>
    <label for="image">
      Image <br>
      <input class="input-custom" type="text" id="image" [formControlName]="'image'">
    </label>
    <br>
    <button class="button-card" (click)="addAnswer()" *ngIf="answers.length<4">Ajouter une réponse</button>
    <div class="answer" formArrayName="answers">
      <!--<label>
        <div class="answer-form" [formGroupName]="'0'">
          Réponse correcte
          <input type="text" [formControlName]="'value'">
          <br>
        </div>
        <div class="answer-form" [formGroupName]="'1'">
          Deuxième réponse
          <input type="text" [formControlName]="'value'">
          <br>
        </div>
        <div *ngFor="let address of answers.controls| slice:0:3; let i=index">
          <div class="answer-form" [formGroupName]="i+2">
            <ng-container *ngIf="i==0 ; else elseBlock">
              Troisième réponse
            </ng-container>
            <ng-template #elseBlock>Quatrième reponse</ng-template>
            <input type="text" [formControlName]="'value'">
          </div>
        </div>
      </label> -->
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" [formGroupName]="i" [formControlName]="'isCorrect'" span *ngIf="i==0">
          <label>
            Réponse correcte
            <input type="text" [formControlName]="'value'">
            Image réponse
            <input type="text" [formControlName]="'imageAnswer'">
            <input type="text" [formControlName]="'enSavoirPlus'">
          </label>
        </div>
        <div class="answer-form" [formGroupName]="i" span *ngIf="i>0" >
          <label>
            Réponse fausse
            <input type="text" [formControlName]="'value'">
            Image réponse
            <input type="text" [formControlName]="'imageAnswer'">
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="button-card" (click)="addQuestion()">Ajout Question</button>
  </form>
</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->