@import '../../../styles/card.scss';

.card {
    width: 70%;
}

.choix{
    margin-left: 4%;
}

.input-custom {
    width: 100%;
}

.identite {
    display: flex;
}

.prenom {
    flex : 1;
    flex-basis: 33%;
    margin-right : 10%;
}

.nom {
    flex : 1;
    flex-basis: 33%;
    margin-right: 10%;
}

.photo{
    flex : 1;
    flex-basis: 33%;
    margin-right : 10%;
}

.troubles {
    display: flex;
    width: 100%;
}

.choixTroubles {
    flex : 1;
    flex-basis: 50%;
}

.indicationsTroubles {
    margin-top: 5%;
    border : 1pt solid black;
    flex : 1;
    flex-basis: 50%;
    font-size: 15px;
}

.description {
    max-width: 18em;
}

.button-card {
    background-color: palevioletred;
    margin-left: 90%;
}