
.Temps{
    display: flex;
}

.ChoixTemps{
    padding: 0.90em 1em;
    
}

.TitreTaillePolice{
    display: inline-block;
}

.Taille{
    display: inline-block;
    flex-wrap: nowrap;
}

.button-card {
    font-weight: bold;
    padding: 0.5em 1em;
}