<form method="get" >
  <body [ngClass]="configurationService.getCentreForGlaucome()">

  <h2 [ngClass]="configurationService.getColorForProtanopieText()"><u>Configuration</u></h2>
  <h3 [ngClass]="configurationService.getColorForProtanopieText()"><u>Handicap visuel</u></h3>

  <div class="Protanopie">
    <label [ngClass]="configurationService.getColorForProtanopieText()" for="protanopie">Protanopie</label>
        <input type = "checkbox" id="protanopie" name="protanopie" (click)="selectProtanopie()" [checked]="protanopieIsChecked()"  >
    </div>
    <div class="Glaucome">
      <label [ngClass]="configurationService.getColorForProtanopieText()" for="glaucome">Glaucome</label>
        <input type = "checkbox" id="glaucome" name="glaucome" (click)="selectGlaucome()"[checked]="glaucomeIsChecked()">
    </div>
  <h3 [ngClass]="configurationService.getColorForProtanopieText()" ><u>Handicap moteur</u></h3>

    <div class="Arthrose">
      <label [ngClass]="configurationService.getColorForProtanopieText()" for="arthrose">Arthrose</label>
        <input type = "checkbox" id="arthrose" name="arthrose" (click)="selectArthrose()" [checked]="arthroseIsChecked()">
    </div>
    <div class="Temps" *ngIf="arthrose">
      <p [ngClass]="configurationService.getColorForProtanopieText()" >Temps sur une réponse :</p>

      <div class="ChoixTemps" >
            <select id="time" (change)="newTime($event)">
                <option value="">--Choisissez un temps--</option>
                <option value="1">1 sec</option>
                <option value="2">2 sec</option>
                <option value="3">3 sec</option>
                <option value="4">4 sec</option>
                <option value="5">5 sec</option>
            </select>
            <p [ngClass]="configurationService.getColorForProtanopieText()">Temps actuel : {{this.configurationService.temps}} sec</p> 
        </div>
    </div>


    <div class="Taille">
        <div class="TitreTaillePolice">
            <h4 [ngClass]="configurationService.getColorForProtanopieText()"> Taille de la police</h4>
        </div>
        <div>
          <input type="radio" id="moyenne" name="taille" value="0" checked>
          <label [ngClass]="configurationService.getColorForProtanopieText()" for="moyenne">Moyenne</label>
        </div>
        <div>
          <input type="radio" id="grande" name="taille" value="1" >
          <label [ngClass]="configurationService.getColorForProtanopieText()" for="grande">Grande</label>
        </div>
        <div>
          <input type="radio" id="tres grande" name="taille" value="2" >
          <label [ngClass]="configurationService.getColorForProtanopieText()" for="tres grande">Très grande</label>
        </div>

    </div>

    <ng-container *ngIf="quiz && !configurationService.arthrose">
      <button type="reset" class="button-card" [ngClass]="configurationService.getColorForProtanopieButton()">Réinitialiser</button>
      <button type="submit" class="button-card" [ngClass]="configurationService.getColorForProtanopieButton()" (click)="saveChange()" routerLink="/lancement-quiz/{{quiz.id}}">Enregistrer</button>
      <button class="button-card" [ngClass]="configurationService.getColorForProtanopieButton()" routerLink="/lancement-quiz/{{quiz.id}}">Retour au quiz</button>
    </ng-container>
    <ng-container *ngIf="quiz && configurationService.arthrose">
      <button type="reset" class="button-card" [ngClass]="configurationService.getColorForProtanopieButton()">Réinitialiser</button>
      <button type="submit" class="button-card" [ngClass]="configurationService.getColorForProtanopieButton()" (mouseenter)="startTimer('/lancement-quiz/')" (mouseleave)="stopTimer()" routerLink="/lancement-quiz/{{quiz.id}}" >Enregistrer</button>
      <button class="button-card" [ngClass]="configurationService.getColorForProtanopieButton()" (mouseenter)="startTimer('/lancement-quiz/')" (mouseleave)="stopTimer()">Retour au quiz</button>
    </ng-container>
    

  </body>
</form>
