<div class="user-info">
    <div *ngIf="user.firstName">
        <div class="compte">
            <br>
            Mon compte :
        </div>
        <div class="identite">
            <div *ngIf="!editFirstName" class="prenom">
                Prénom : {{user.firstName}}
                <button class="edit" (click)="editedFirstName()">Edit</button>
            </div>
            <div *ngIf="editFirstName" class="prenom" [formGroup]="userForm">
              Prénom : <input class="input-custom" type ="text" id="editPrenom" name="editPrenom" value="{{user.firstName}}" [formControlName]="'firstName'">
            </div>
            <div class="nom" *ngIf="!editLastName">
                Nom : {{user.lastName}}
                <button class="edit" (click)="editedLastName()">Edit</button>
            </div>
            <div *ngIf="editLastName" class="nom" [formGroup]="userForm">
              Nom : <input class="input-custom" type ="text" id="editNom" name="editNom" value="{{user.lastName}}" [formControlName]="'lastName'">
            </div>
            <div  *ngIf="!editPicture" class="photo">
                <img *ngIf="user.photo"class="photoUser" src={{user.photo}}>
                <i *ngIf="!user.photo" class="fas fa-user"></i>
                <button class="edit" (click)="editedPicture()">Edit</button>
            </div>
            <div *ngIf="editPicture" class="photo" [formGroup]="userForm">
              Photo : <input class="input-custom" type ="text" id="editPhoto" name="editPhoto" value="{{user.photo}}" [formControlName]="'photo'">
            </div>
        </div>
        <div class="troubles">
            <div class="choixTroubles">
              <h2>
                Handicaps visuels : 
              </h2>
              <div class="protanopie">
                <label for="protanopie">Protanopie : </label>
                    <input  class="choix" type ="checkbox" id="protanopie" name="protanopie" (click)="selectProtanopie()" [checked]="user.protanopie">
                    <span>Oui</span>
              </div>
              <div class="glaucome">
                <label for="glaucome">Glaucome : </label>
                    <input class="choix" type = "checkbox" id="glaucome" name="glaucome" (click)="selectGlaucome()" [checked]="user.glaucome">
                    <span>Oui</span>
              </div>
              <h2>
                Handicap moteur : 
              </h2>
              <div class="arthrose">
                <label for="arthrose">Arthrose : </label>
                    <input class="choix" type = "checkbox" id="arthrose" name="arthrose" (click)="selectArthrose()" [checked]="user.arthrose">
                    <span>Oui</span>
              </div>
              <div *ngIf="user.arthrose" id="ChoixTemps" class="ChoixTemps">
                Temps pour choisir la réponse : 
                <select id="time" (change)="newTime($event)">
                    <option value="1">1 sec</option>
                    <option value="2" selected>2 sec</option>
                    <option value="3">3 sec</option>
                    <option value="4">4 sec</option>
                    <option value="5">5 sec</option>
                </select>
              </div>
            </div>
            <span *ngIf="user.protanopie || user.glaucome || user.arthrose"class="indicationsTroubles">
              <div class="description" *ngIf="user.protanopie">Protanopie : <br> {{configurationService.indicationProtanopie}}<br><br></div>
              <div class="description" *ngIf="user.glaucome">Glaucome : <br>{{configurationService.indicationGlaucome}}<br><br></div>
              <div class="description" *ngIf="user.arthrose">Arthrose : <br>{{configurationService.indicationArthrose}}<br><br></div>
            </span>
          </div>
          <button class="button-card" (click)="save()" routerLink="/accueil">Sauvegarder</button>
          <!--<button class="button-card" (click)="delete()" routerLink="/accueil">Supprimer</button> -->
          <br>
    </div>
</div>
<div class="aucunCompte" *ngIf="!user.firstName">
  Aucun compte sélectionné.
</div>